# PostgreSQL
# DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/mhp_test
DATABASE_URL=postgresql://postgres:GDQuVhPKyHQzBVIXYAssSUExbTUtAYIk@switchyard.proxy.rlwy.net:41488/mhp_portal

# JWT
SECRET_KEY=change-this-secret